<head>
<meta charset="utf-8">
</head>
<div style="padding: 3px; margin-top: 3px; border: 2px solid #b8dc6f;" width="100%">
			<table width="100%">
				<tr>
					<th width="20%"></th>
					<th width="30%"></th>
					<th width="50%"></th>
				</tr>
				<tbody>
					<tr>
					   <td align="left" >						 
							   <div *ngIf="result.origine == 'D'; then doodleUrl else soadleLabel"></div>
							    <ng-template #doodleUrl><a href="{{pollsDoodleUrl}}{{result.id}}" target=_blank><b>Doodle</b></a></ng-template>
							    <ng-template #soadleLabel><b>Soadle</b></ng-template>					  					
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>					
						 <td><b>Titre de l'evenement :</b></td>
							<td>
							    <input #idTitle1 placeholder="" [disabled]="result.origine == 'D'" required value="{{result.title}}" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '300px'}">				    
							</td>
							<td></td>
						</tr>
						<tr>
							<td><b>Description de l'evenement :</b></td>
							<td>
							   <input #idDescription1 placeholder="" [disabled]="result.origine == 'D'"  required value="{{result.description}}" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '300px'}">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><b>Date de l'evenement :</b></td>
							<td>
							  <input #idDate1 placeholder="" type="date" [disabled]="result.origine == 'D'"  required value="{{result.options[0].date  | date: 'yyyy-MM-dd'}}" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '120px'}"> Heure : <input #idHeure1 placeholder="" type="time" required value="{{result.options[0].date  | date: 'hh:mm'}}" [disabled]="result.origine == 'D'" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '60px'}">
							</td>
							<td></td>
						</tr>
						<tr *ngIf="result.initiator">
							<td><b>Initiateur de l'evenement :</b></td>
							<td>{{result.initiator.name}}</td>
							<TD>			
							</TD>
						</tr>
						<tr>
							<td><b>Lieu de l'evenement :</b></td>
							<td>
							  <input #idName1 placeholder="" [disabled]="result.origine == 'D'"  required value="{{result.location.name}}" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '300px'}">							  
							</td>
							<td></td>
						</tr>
						<tr>
							<td><b>Adresse de lieu de l'evenement :</b></td>
							<td>
							  <input #idAdress1 placeholder="" [disabled]="result.origine == 'D'"  required value="{{result.location.address}}" [ngStyle]="{'backgroundColor': result.origine == 'S' ? '#b8dc6f' : '#DCDCDC', 'height': '25px', 'width': '300px'}">
							</td>
							<td></td>
						</tr>
						<tr>
						<TD></TD>
						  <TD colspan=2>
						     <div *ngIf="result.origine == 'S'">
							 <app-map [idAdressMap]="idAdressMap">
							    loading...
							 </app-map>
							</div>
						  </TD>
						</tr>		
						<tr>
							<td><b>Nombre de participant :</b></td>
							<td>{{result.participantsCount}}</td>
							<td></td>
						</tr>
						<tr>
							<td><b>Tags :</b></td>
							<td>
							     <input  #idTags1 placeholder="" required value="{{result.tags}}" style="background-color: #b8dc6f; height: 25px; width: 300px;"> 
							</td>
							<td align="right">
								 <button class="btn_small btn-default"  (click)="saveMeeting(result.id, idTitle1.value, idDescription1.value, idDate1.value  + ' ' + idHeure1.value, idName1.value, idAdress1.value, idTags1.value, result.origine)" >Enregistrer</button>&nbsp;								
							     <button class="btn_small btn-default"  (click)="annulModif()" >Annuler</button>
							</td>		
						</tr>						
				</tbody>
			</table>
		</div>
		<div style="height: 370px; overflow-y: auto; overflow-x: hidden;" >
			<table class="table">
				<thead>
					<tr>
						<th class="col" style="width: 5%;">#</th>
						<th class="col" style="width: 5%;"></th>
						<th class="col" style="width: 75%;">Participant</th>
						<th class="col" style="width: 15%;">Preference</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let participant of result.participants; let idx = index" [ngStyle]="{'backgroundColor': participant.preference == true ? '#b8dc6f' : '#ffc0cb' }">
						<td class="col">{{idx}}</td>
						<td class="col" align="right"><img class="p-img-tab" alt="" src="{{participant.smallAvatarUrl}}"></td>
						<td class="col">{{participant.name}}</td>
						<td class="col" *ngIf="result.origine == 'S' || participant.userId != null">
						  <INPUT type="checkbox" name="choix{{idx}}" [checked]="participant.preference" disabled>
						</td>
						<td class="col" *ngIf="result.origine == 'D' && participant.userId == null">
						  <INPUT type="checkbox" name="choix{{idx}}" [checked]="participant.preference" (click)="participe(participant, !participant.preference , result.id, result.origine, participant.name, participant.email, participant.smallAvatarUrl)" >
						</td>
					</tr>
				</tbody>
			</table>
		</div>