<head>
<meta charset="utf-8">
</head>
		<div style="border: 1px solid #b8dc6f;">
			<table width="100%">
				<tr>
				    <th width="80%"></th>
					<th width="20%"></th>
				</tr>
				<tbody>
					<tr>
						<TD align="left">
						    <button class="btn btn-default" (click)="getList(idListTags.value.trim())">Liste des évènements</button>&nbsp;
						     Titre/Tags : <input #idListTags placeholder="" required value=" " style="background-color: #b8dc6f; height: 30px; width: 200px;">&nbsp;&nbsp;
							<button class="btn btn-default" (click)="getMeeting(id.value.trim())">Afficher un évènement</button>&nbsp;<input #id placeholder="" required value="{{result? result.id : ' '}}" style="background-color: #b8dc6f; height: 30px; width: 200px;">				
						</TD>
						<TD align="right">
							<button class="btn btn-default" (click)="create(1)" *ngIf="!indCreate" >Créer un soadle</button>&nbsp;	
							<button class="btn btn-default" (click)="create(2)" *ngIf="!indCreate" >Créer un doodle</button>
						</TD>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div style="padding: 3px; margin-top: 3px; border: 2px solid #b8dc6f;" *ngIf="indCreate">
			<app-soadlecreation [indCreate]="indCreate"  [result]="result" (eventgetMeeting)="getMeeting($event)" (eventList)="getList($event)"></app-soadlecreation>
		</div>

		<div *ngIf="result && indModif" width="100%">
			  <app-soadlemodification [result]="result" [resulUser]="resulUser" [indModif]="indModif" (eventgetSoadle)="getSoadle($event)"  (eventgetDoodle)="getDoodle($event)" (eventmodificationMeeting)="modificationMeeting($event)" (eventannulModif)="annulModif($event)"></app-soadlemodification>
		</div>
		
		<div *ngIf="result && !indModif" width="100%">
			  <app-soadleconsultation [result]="result" [resulUser]="resulUser" [indModif]="indModif" (eventgetSoadle)="getSoadle($event)"  (eventgetDoodle)="getDoodle($event)" (eventmodificationMeeting)="modificationMeeting($event)" (eventannulModif)="annulModif($event)"></app-soadleconsultation>
		</div>
		

		<div style="height: 370px; overflow-y: auto; overflow-x: hidden;" *ngIf="resultList">
				<app-soadlelist [resultList]="resultList" (eventgetSoadle)="getSoadle($event)"  (eventgetDoodle)="getDoodle($event)" (eventList)="getList($event)"></app-soadlelist>
		</div>