<head>
<meta charset="utf-8">
</head>
	    <table>
				<tr>
					<th width="30%"></th>
					<th width="40%"></th>
					<th width="30%"></th>
				</tr>
				<tbody>
					<tr>
						<td><b>Titre de l'evenement :</b></td>
						<td><input #idTitle placeholder="idTitle" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
						<td align="right">						
						</td>
					</tr>
					<tr>
						<td><b>Description de l'evenement :</b></td>
						<td><input #idDescription placeholder="idDescription" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
                        <td></td>
					</tr>
					<tr>
						<td><b>Date de l'evenement :</b></td>
						<td><input #idDate placeholder="idDate" type="date" required value=" " style="background-color: #b8dc6f; height: 30px; width: 120px;"> Heure : <input #idHeure placeholder="idHeure" type="time" required value=" " style="background-color: #b8dc6f; height: 30px; width: 60px;"></td>
					    <td></td>
					</tr>
					<tr>
						<td><b>Lieu de l'evenement :</b></td>
						<td><input #idName placeholder="idName" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
					    <td></td>
					</tr>
					<tr>
						<td><b>Adresse de lieu de l'evenement :</b></td>
						<td><input #idAdress placeholder="idAdress" required value=" " style="background-color: #b8dc6f; height: 30px; width: 400px;"></td>
					    <td></td>
					</tr>			
					<tr>
						<td><b>Tags :</b></td>
						<td><input #idTags placeholder="" required value=" " style="background-color: #b8dc6f; height: 30px; width: 400px;"></td>
					</tr>		
					<tr>
					    <td></td>
					    <td align="left"><div *ngIf="indCreate==1 || indCreate==2"><button class="btn btn-default"  (click)="crateEvent(idTitle.value, idDescription.value, idDate.value + ' ' + idHeure.value, idName.value, idAdress.value, idTags.value)" >{{indCreate==1 ? 'Enregistrer soadle' : 'Enregistrer doodle' }}</button>&nbsp;<button class="btn btn-default" (click)="getList()">Annuler</button></div></td>
					<td></td>
					</tr>
				</tbody>
			</table>