<a href="/google/login">google</a>
<button (click)="sayHello()">hello</button>
<div>Titre de l'evenenement :  {{result.title}}</div>
<div>Lieu : {{result.location.name}} {{result.location.address}}</div>
<div>Nombre de participant : {{result.participantsCount}}</div>
<div>Liste des participants:</div>

<table class="table">
  <thead>
    <tr>
      <th class="col">#</th>
      <th class="col">Prenom</th>
      <th class="col">Participe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of result.participants; let idx = index">
      <th class="col">{{idx}}</th>
      <td class="col">{{participant.name}}</td>
      <td class="col">{{participant.preferences[0]}}</td>
    </tr>
  </tbody>
</table>
