<html lang="en">
<head>
<meta charset="utf-8">
<title>Soadle</title>
</head>

<div class="container" style="margin: 0 auto; margin-top: 10px; width: 100%;">
	<table width="100%">
		<tr>
			<TD align="center" width="40%"><img src="/assets/images/logo.png" /></TD>
			<TD width="20%">
				<!-- Login panel -->
				<div class=" col-md-4 col-md-offset-4" style="width: 350px;">
					<div class="panel panel-default" *ngIf="!resulUser">
						<div class="panel-heading">Bienvenue à Soadle</div>
						<div class="panel-body">
							<div class="col-md-12">
								<a class="btn btn-default" href="/google/login">Google Login</a>
							</div>
						</div>
					</div>
					<!-- End Login panel -->

					<!-- Home panel.It will visible after successfull login -->
					<div class="panel panel-default" *ngIf="resulUser">
						<div class="panel-heading">
							<img class="p-img" alt="" src="{{resulUser.userAuthentication.details.picture}}"> Name: {{resulUser.name}}
						</div>
						<div class="panel-body">
							<div class="col-md-12">Email: {{resulUser.userAuthentication.details.email}}</div>							
							<div class="col-md-12"><a href="#" class="btn_logout btn-default margin-top-5" (click)="logout()"> Logout</a></div>
						</div>
					</div>
					<!-- End Home Panel -->
				</div>
			</TD>
			<TD align="center" width="40%"><img src="/assets/images/logo.png" /></TD>
		</tr>
	</table>
</div>


<div class="container" style="margin: 0 auto; margin-top: 1px;">
	<div class="panel panel-hello" *ngIf="resulUser">
		<div style="border: 1px solid #b8dc6f;">
			<table width="100%">
				<tr>
					<th width="65%"></th>
					<th width="35%"></th>
				</tr>
				<tbody>
					<tr>
						<TD align="left">
						    <button class="btn btn-default" (click)="getList()">Liste des evènements</button>&nbsp;&nbsp;
							<button class="btn btn-default" (click)="getMeeting(id.value)">Afficher un meeting</button>&nbsp;<input #id placeholder="id" required value="{{result.id || ' '}}" style="background-color: #b8dc6f; height: 30px; width: 200px;">&nbsp;		
							<button class="btn btn-default" (click)="importDoodle(id.value)" *ngIf="result && result.origine == 'D'">Importer le doodle</button>				
						</TD>
						<TD align="right">
							<button class="btn btn-default" (click)="create(1)" *ngIf="!indCreate" >Créer un soadle</button>&nbsp;	
							<button class="btn btn-default" (click)="create(2)" *ngIf="!indCreate" >Créer un doodle</button>
						</TD>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div style="padding: 3px; margin-top: 3px; border: 2px solid #b8dc6f;" *ngIf="indCreate">
			<table>
				<tr>
					<th width="30%"></th>
					<th width="50%"></th>
					<th width="20%"></th>
				</tr>
				<tbody>
					<tr>
						<td><b>Titre de l'evenement :</b></td>
						<td><input #idTitle placeholder="idTitle" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Description de l'evenement :</b></td>
						<td><input #idDescription placeholder="idDescription" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
                        <td></td>
					</tr>
					<tr>
						<td><b>Date de l'evenement :</b></td>
						<td><input #idDate placeholder="idDate" type="date" required value=" " style="background-color: #b8dc6f; height: 30px; width: 120px;"> Heure : <input #idHeure placeholder="idHeure" required value=" " style="background-color: #b8dc6f; height: 30px; width: 25px;"> : <input #idMinut placeholder="idMinut" required value=" " style="background-color: #b8dc6f; height: 30px; width: 25px;"></td>
					    <td></td>
					</tr>
					<tr>
						<td><b>Lieu de l'evenement :</b></td>
						<td><input #idName placeholder="idName" required value=" " style="background-color: #b8dc6f; height: 30px; width: 300px;"></td>
					    <td></td>
					</tr>
					<tr>
						<td><b>Adresse de lieu de l'evenement :</b></td>
						<td><input #idAdress placeholder="idAdress" required value=" " style="background-color: #b8dc6f; height: 30px; width: 400px;"></td>
					    <td></td>
					</tr>					
					<tr>
					    <td></td>
					    <td align="left"><div *ngIf="indCreate==1"><button class="btn btn-default"  (click)="crateEventSoadle(idTitle.value, idDescription.value, idDate.value + ' ' + idHeure.value + ':' + idMinut.value, idName.value, idAdress.value); id.value=' '" >Enregistrer soadle</button>&nbsp;<button class="btn btn-default" (click)="getList()">Annuler</button></div>
						                 <div *ngIf="indCreate==2"><button class="btn btn-default"  (click)="crateEventDoodle(idTitle.value, idDescription.value, idDate.value + ' ' + idHeure.value + ':' + idMinut.value, idName.value, idAdress.value); id.value=' '" >Enregistrer doodle</button>&nbsp;<button class="btn btn-default" (click)="getList()">Annuler</button></div>						                 
					    </td>
					<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="padding: 3px; margin-top: 3px; border: 2px solid #b8dc6f;" *ngIf="result">
			<table>
				<tr>
					<th width="50%"></th>
					<th width="50%"></th>
				</tr>
				<tbody>
					<tr>
						<td><b>Titre de l'evenement :</b></td>
						<td *ngIf="result.origine == 'D'">
						    <a href="https://doodle.com/poll/{{result.id}}" target=_blank>{{result.title}}</a>						    
						</td>
						<td *ngIf="result.origine != 'D'">
						    {{result.title}}					    
						</td>
					</tr>
					<tr>
						<td><b>Description de l'evenement :</b></td>
						<td>{{result.description}}</td>
					</tr>
					<tr>
						<td><b>Date de l'evenement :</b></td>
						<td>{{result.options[0].date  | date: 'dd/MM/yyyy hh:mm'}}</td>
					</tr>
					<tr *ngIf="result.initiator">
						<td><b>Initiateur de l'evenement :</b></td>
						<td>{{result.initiator.name}}</td>
					</tr>
					<tr>
						<td><b>Lieu de l'evenement :</b></td>
						<td><a href="https://www.google.fr/maps/place/{{result.location.name}} {{result.location.address}}" target=_blank> {{result.location.name}} {{result.location.address}} </a></td>
					</tr>
					<tr>
						<td><b>Nombre de participant :</b></td>
						<td>{{result.participantsCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="height: 370px; overflow-y: auto; overflow-x: hidden;" *ngIf="result">
			<table class="table">
				<thead>
					<tr>
						<th class="col" style="width: 5%;">#</th>
						<th class="col" style="width: 5%;"></th>
						<th class="col" style="width: 75%;">Participant</th>
						<th class="col" style="width: 15%;">Preference</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let participant of result.participants; let idx = index" [ngStyle]="{'backgroundColor': participant.preference == true ? '#b8dc6f' : '#ffc0cb' }">
						<td class="col">{{idx}}</td>
						<td class="col" align="right"><img class="p-img-tab" alt="" src="{{participant.smallAvatarUrl}}"></td>
						<td class="col">{{participant.name}}</td>
						<td class="col"><INPUT type="checkbox" name="choix{{idx}}" [checked]="participant.preference" disabled></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="height: 370px; overflow-y: auto; overflow-x: hidden;" *ngIf="resultList">
			<table class="table">
				<thead>
					<tr>
						<th class="col" style="width: 18%;">Titre</th>
						<th class="col" style="width: 30%;">Lieu</th>
						<th class="col" style="width: 10%;">Date</th>
						<th class="col" style="width: 17%;">Initiateur</th>
						<th class="col" style="width: 5%;">Nb par.</th>
						<th class="col" style="width: 5%;">Doodle/Soadle</th>
						<th class="col" style="width: 15%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let meeting of resultList; let idx = index" [ngStyle]="{'backgroundColor': idx % 2 == 0 ? '#b8dc6f' : '#cce698' }">
						<td class="col" *ngIf="meeting.origine == 'D'">
						    <a href="https://doodle.com/poll/{{meeting.id}}" target=_blank>{{meeting.title}}</a>
						</td>
						<td class="col" *ngIf="meeting.origine != 'D'">
						    {{meeting.title}}
						</td>
						<td class="col"><a href="https://www.google.fr/maps/place/{{meeting.location.name}} {{meeting.location.address}}" target=_blank>{{meeting.location.name}}</a></td>
						<td class="col">{{meeting.options[0].date | date: 'dd/MM/yyyy hh:mm'}}</td>
						<td class="col"><div *ngIf="meeting.initiator">{{meeting.initiator.name}}</div></td>
						<td class="col">{{meeting.participantsCount}}</td>
						<td class="col">
							<div *ngIf="meeting.origine == 'D'">
								<b>Doodle</b>
							</div>
							<div *ngIf="meeting.origine == 'S'">
								<b>Soadle</b>
							</div>
						</td>
						<td class="col">
							<button class="btn btn-default" (click)="getDoodle(meeting.id)" *ngIf="meeting.origine == 'D'">Détail</button>
							<button class="btn btn-default" (click)="getSoadle(meeting.id)" *ngIf="meeting.origine != 'D'">Détail</button>
							&nbsp;<button class="btn btn-default" (click)="delete(meeting.id, meeting.origine)"  style="color: #FF0000;">Supprimer</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>