<html lang="en">
<head>
<meta charset="utf-8">
<title>Soadle</title>
</head>

<div class="container" style="margin: 0 auto; margin-top: 10px; width: 100%;">
	<table width="100%">
		<tr>
			<TD align="center" width="40%"><img src="/assets/images/logo.png" /></TD>
			<TD width="20%">
				<!-- Login panel -->
				<div class=" col-md-4 col-md-offset-4" style="width: 350px;">
					<div class="panel panel-default" *ngIf="!resulUser">
						<div class="panel-heading">Bienvenue à Soadle</div>
						<div class="panel-body">
							<div class="col-md-12">
								<a class="btn btn-default" href="{{loginUrl}}">Google Login</a>
							</div>
						</div>
					</div>
					<!-- End Login panel -->

					<!-- Home panel.It will visible after successfull login -->
					<div class="panel panel-default" *ngIf="resulUser">
						<div class="panel-heading">
							<img class="p-img" alt="" src="{{resulUser.userAuthentication.details.picture}}"> Name: {{resulUser.name}}
						</div>
						<div class="panel-body">
							<div class="col-md-12">Email: {{resulUser.userAuthentication.details.email}}</div>							
							<div class="col-md-12"><a href="#" class="btn_small btn-default margin-top-5" (click)="logout()"> Logout</a></div>
						</div>
					</div>
					<!-- End Home Panel -->
				</div>
			</TD>
			<TD align="center" width="40%"><img src="/assets/images/logo.png" /></TD>
		</tr>
	</table>
</div>


<div class="container" style="margin: 0 auto; margin-top: 1px;">
	<div class="panel panel-hello" *ngIf="resulUser">
		 <app-soadle></app-soadle>
	</div>
</div>

</html>